
<div class="tt-container">

  <button class="btn btn-secondary btn-block"
    (click)="loadDataView.emit('load')">Open View</button>
  
  <button class="btn btn-secondary btn-block"
    (click)="saveDataView.emit('save')">Save View</button>

  <hr/>

  <button class="btn btn-primary btn-block"
    (click)="plotService.setNavRangeToPlotRange()">
    Sync Plot Time Scales <fa-icon [icon]="['fas', 'exchange-alt']" rotate="90"></fa-icon></button>

  <div class="btn-group btn-block" role="group">
    <button class="btn btn-primary autoscale"
      (click)="plotService.autoScaleAxis('left')">Left</button>
    <button class="btn btn-primary autoscale"
      (click)="plotService.autoScaleTime()">Time</button>
    <button class="btn btn-primary autoscale"
      (click)="plotService.autoScaleAxis('right')">Right</button>
  </div>
  <hr/>

  <!-- Measurement Buttons -->
  <!--   start a new measurement -->
  <button class="btn btn-primary btn-block"
    *ngIf="!(measurementSelectors.enabled$ | async)"
    (click)="measurementService.startMeasurement()">
    Measurement Mode </button>
  <!-- cancel the current measurement -->
  <button class="btn btn-danger btn-block"
    *ngIf="(measurementSelectors.enabled$ | async)"
    (click)="measurementService.cancelMeasurement()">
    Exit Measurement Mode </button>
    
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="plotSelectors.dataCursor$ | async" 
        (change)="plotService.toggleDataCursor()">
        <fa-icon [icon]="['fas', 'crosshairs']"  [fixedWidth]="true"></fa-icon> Show Data Cursor
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="plotSelectors.liveUpdate$ | async"
        (change)="plotService.toggleLiveUpdate()">
        <fa-icon [icon]="['fas', 'heartbeat']"  [fixedWidth]="true"></fa-icon> Live Update
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="plotSelectors.navZoomLock$ | async" 
        (change)="plotService.toggleNavZoomLock()">
        <fa-icon [icon]="['fas', 'lock']"  [fixedWidth]="true"></fa-icon> Lock Selection Width
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="plotSelectors.showDataEnvelope$ | async" 
        (change)="plotService.toggleShowDataEnvelope()">
        <fa-icon [icon]="['fas', 'chart-area']"  [fixedWidth]="true"></fa-icon>Data Envelope
    </label>
  </div>
  <hr/>

  

  
  <button class="btn btn-secondary btn-block"
    (click)="downloadDataModal.show()">
    <fa-icon [icon]="['fas', 'download']"></fa-icon> Plot Data
  </button>
  <button class="btn btn-secondary btn-block"
    (click)="savePlotImage.emit('save')">
    <fa-icon [icon]="['fas', 'image']"></fa-icon> Plot Image</button>
</div>

<!-- ====== download data modal ====== -->
<div class="modal fade" bsModal #downloadDataModal="bs-modal" 
     [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title float-left">Data from {{plotSelectors.plotTimeRange$ | async | duration}}</h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="downloadDataModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-download-data [range]="plotSelectors.plotTimeRange$ | async"></app-download-data>
      </div>
    </div>
  </div>
</div>

