
<div class="tt-container">
  <p class="lead">Navigation Plot</p>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="explorerSelectors.navZoomLock$ | async" 
        (change)="explorerService.toggleNavZoomLock()"> Lock Selection Width
    </label>
  </div>
  <button class="btn btn-default btn-block"
    (click)="explorerService.setNavRangeToPlotRange()">
    Sync To Main Plot <i class="fa fa-exchange fa-rotate-90"></i> </button>


  <p class="lead">Main Plot</p>
  <p>Auto Scale to Fit</p>
  <div class="btn-group btn-block" role="group">
    <button class="btn btn-default autoscale"
      (click)="explorerService.autoScaleAxis('left')">Left</button>
    <button class="btn btn-default autoscale"
      (click)="explorerService.autoScaleTime()">Time</button>
    <button class="btn btn-default autoscale"
      (click)="explorerService.autoScaleAxis('right')">Right</button>
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="explorerSelectors.dataCursor$ | async" 
        (change)="explorerService.toggleDataCursor()"> Show Data Cursor
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="explorerSelectors.liveUpdate$ | async"
        (change)="explorerService.toggleLiveUpdate()"> Live Update
    </label>
  </div>
  <hr/>
  <div class="btn-group btn-block" dropdown>
    <button id="menu-button" class="btn btn-block btn-default dropdown-toggle" dropdownToggle>
      <i class="fa fa-download"></i> Download <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="menu-button">
      <!-- add a new member -->
      <li class="menu" class="dropdown-item" role="menuitem" (click)="savePlotImage.emit('save')"><a>Image</a></li>
      <!-- edit the group -->
      <li class="menu" class="dropdown-item" role="menuitem"><a>Data</a></li>
    </ul>
  </div>

  <button class="btn btn-default btn-block"
    (click)="saveDataView.emit('save')">Save View</button>
  <button class="btn btn-default btn-block"
    (click)="loadDataView.emit('load')">Open View</button>
</div>



