
<div class="tt-container">

  <button class="btn btn-default btn-block"
    (click)="loadDataView.emit('load')">Open View</button>
  
  <button class="btn btn-default btn-block"
    (click)="saveDataView.emit('save')">Save View</button>

  <hr/>

  <button class="btn btn-primary btn-block"
    (click)="explorerService.setNavRangeToPlotRange()">
    Sync Plot Time Scales <i class="fa fa-exchange fa-rotate-90"></i> </button>

  <div class="btn-group btn-block" role="group">
    <button class="btn btn-primary autoscale"
      (click)="explorerService.autoScaleAxis('left')">Left</button>
    <button class="btn btn-primary autoscale"
      (click)="explorerService.autoScaleTime()">Time</button>
    <button class="btn btn-primary autoscale"
      (click)="explorerService.autoScaleAxis('right')">Right</button>
  </div>
  
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="explorerSelectors.dataCursor$ | async" 
        (change)="explorerService.toggleDataCursor()"><i class="fa fa-fw fa-crosshairs"></i> Show Data Cursor
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="explorerSelectors.liveUpdate$ | async"
        (change)="explorerService.toggleLiveUpdate()"><i class="fa fa-fw fa-heartbeat"></i> Live Update
    </label>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" [checked]="explorerSelectors.navZoomLock$ | async" 
        (change)="explorerService.toggleNavZoomLock()"><i class="fa fa-fw fa-lock"></i> Lock Selection Width
    </label>
  </div>
  <hr/>

  

  
  <button class="btn btn-default btn-block"
    (click)="downloadDataModal.show()">
      <i class="fa fa-download"></i> Plot Data
  </button>
  <button class="btn btn-default btn-block"
    (click)="savePlotImage.emit('save')">
      <i class="fa fa-download"></i> Plot Image</button>
</div>

<!-- ====== download data modal ====== -->
<div class="modal fade" bsModal #downloadDataModal="bs-modal" 
     [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title pull-left">Data from {{explorerSelectors.plotTimeRange$ | async | duration}}</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="downloadDataModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <app-download-data [range]="explorerSelectors.plotTimeRange$ | async"></app-download-data>
      </div>
    </div>
  </div>
</div>

