.btn.autoscale {
  width: 33.3%;
}
div.tt-container{
  padding: 10px;
}
.element-color{
  height: 20px;
  width: 20px;
  border-color: black;
  display: inline-block;
  border-radius: 2px;
  margin-left: 5px;
  border-style: solid;
  border-width: 2px;
}
.element-name{
  padding-bottom: 10px;
}

.selection-options{
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}