<table class="table">
  <!--<thead>
    <tr>
      <th>status</th>
      <th>role</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>-->

  <!-- nilms with admin or owner privleges -->
  <tr *ngFor="let nilm of nilmArray$ | async">
    <!-- Installation status (nilm state) -->
    <td style="vertical-align: middle">
      <fa-icon *ngIf="nilm.available" [icon]="['fas', 'circle']" class="icon available" tooltip="online"></fa-icon>
      <fa-icon *ngIf="!nilm.available" [icon]="['fas', 'circle']" class="icon offline" tooltip="offline"></fa-icon>
    </td>
    <!-- admin icon -->
    <td style="vertical-align: middle">
      <fa-icon *ngIf="nilm.role=='admin'"  [icon]="['fas', 'user']" fixedWidth="true" tooltip="admin"></fa-icon>
      <fa-icon *ngIf="nilm.role=='owner'"  [icon]="['far', 'user']" fixedWidth="true" tooltip="owner"></fa-icon>
      <fa-icon *ngIf="nilm.role=='viewer'"  [icon]="['fas', 'eye']" fixedWidth="true" tooltip="viewer"></fa-icon>
    </td>
    <!-- Installation name -->
    <td style="vertical-align: middle"> 
      <span [tooltip]="nilm.description">{{nilm.name | ellipsis:18}}</span>
    </td>
    <!-- Admin/Owner access -->
    <td>
      <fa-icon [icon]="['fas', 'cog']" class="icon configure" *ngIf="nilm.role=='admin' || nilm.role=='owner'"
      [routerLink]="['/installations',nilm.id]"></fa-icon>
    </td>
  </tr>
</table>
<!-- add a new NILM -->
<div class="pr-4">
  <button class="btn btn-primary float-right"
    (click)="nilmModal.show()">
    <fa-icon [icon]="['fas', 'plus']"></fa-icon>
    New Installation
  </button>
</div>

<!-- ====== add NILM modal ==== -->
<div class="modal fade" bsModal #nilmModal="bs-modal" 
     [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title float-left">Add New Installation</h4>
        <button type="button" class="close float-right" aria-label="Close" (click)="nilmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <account-nilm-form (cancel)="nilmModal.hide()" (save)="createNilm($event)">
        </account-nilm-form>
      </div>
    </div>
  </div>
</div>