<table class="table">
  <!--<thead>
    <tr>
      <th>status</th>
      <th>role</th>
      <th>name</th>
      <th></th>
    </tr>
  </thead>-->

  <!-- nilms with admin or owner privleges -->
  <tr *ngFor="let nilm of nilmArray$ | async">
    <!-- Installation status (nilm state) -->
    <td style="vertical-align: middle">
      <i *ngIf="nilm.available" class="fa fa-circle available" tooltip="online"></i>
      <i *ngIf="!nilm.available" class="fa fa-circle offline" tooltip="offline"></i>
    </td>
    <!-- admin icon -->
    <td style="vertical-align: middle">
      <i *ngIf="nilm.role=='admin'" class="fa fa-user fa-fw"   tooltip="admin"></i>
      <i *ngIf="nilm.role=='owner'" class="fa fa-user-o fa-fw" tooltip="owner"></i>
      <i *ngIf="nilm.role=='viewer'" class="fa fa-eye fa-fw"   tooltip="viewer"></i>
    </td>
    <!-- Installation name -->
    <td style="vertical-align: middle"> 
      <span [tooltip]="nilm.description">{{nilm.name | ellipsis:18}}</span>
    </td>
    <!-- Admin/Owner access -->
    <td>
      <i class="fa fa-gear" *ngIf="nilm.role=='admin' || nilm.role=='owner'"
         [routerLink]="['/installations',nilm.id]">
      </i>
    </td>
  </tr>
</table>
<!-- add a new NILM -->
<div class="pr-4">
  <button class="btn btn-primary pull-right"
    (click)="nilmModal.show()">
    <i class="fa fa-plus"></i> 
    New Installation
  </button>
</div>

<!-- ====== add NILM modal ==== -->
<div class="modal fade" bsModal #nilmModal="bs-modal" 
     [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title pull-left">Add New Installation</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="nilmModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <account-nilm-form (cancel)="nilmModal.hide()" (save)="createNilm($event)">
        </account-nilm-form>
      </div>
    </div>
  </div>
</div>