.group-title{
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 300;
    height: 29px;
    line-height: 29.4px;
    margin-bottom: 20px;
}

.icon.delete{
  color: grey;
}

.icon.delete:hover{
  color: firebrick;
  cursor: pointer;
}

li.menu {
  cursor: pointer;
}

hr.mbottom {
  margin-top: 0px;
  margin-bottom: 10px;
}
div.compact{
  margin-bottom: 0px;
  margin-top: 15px;
}

div.xcompact{
  margin-bottom: 0px;
  margin-top: 0px;
}
.mtop{
  margin-top: 10px;
}
.selection-options{
  width: 50%;
  margin: 0px;
  font-weight: 300;
  line-height: 1.4;
}