<span class="lead">{{group.name}}
</span>
<div class="btn-group pull-right" dropdown>
  <button id="menu-button" class="btn btn-sm btn-default" dropdownToggle>
    <i class="fa fa-bars"></i>
  </button>
  <ul dropdownMenu role="menu" aria-labelledby="menu-button">
    <li role="menuitem"><a>Add user</a></li>
    <li role="menuitem"><a>Edit Name</a></li>
    <li role="menuitem"><a>Remove</a></li>
  </ul>
</div>
<table class="table table-striped">
  <tr *ngFor="let member of members$ | async">
    <td>{{member.first_name}} {{member.last_name}}
      <span class="pull-right" (click)='removeMember(member)'>
        <i class="fa fa-close"></i></span>
    </td>
  </tr>
</table>