<!-- ====== group display ====== -->

<!-- group name -->
<span class="lead" [tooltip]="group.description" >{{group.name}}</span>
<!-- drop down menu -->
<div class="btn-group pull-right" dropdown>
  <button id="menu-button" class="btn btn-sm btn-default" dropdownToggle>
    <i class="fa fa-bars"></i>
  </button>
  <ul dropdownMenu role="menu" aria-labelledby="menu-button">
    <!-- add a new member -->
    <li class="menu" role="menuitem"><a (click)="userModal.show()">Add user</a></li>
    <!-- edit the group -->
    <li class="menu" role="menuitem"><a (click)="groupModal.show()">Edit Group</a></li>
    <!-- remove the group -->
    <li class="menu" role="menuitem"><a (click)="destroyGroup()">Remove</a></li>
  </ul>
</div>
<!-- group members -->
<table class="table table-striped">
  <tr *ngFor="let member of members$ | async">
    <!-- member name -->
    <td>{{member.first_name}} {{member.last_name}}
    <!-- remove the member -->
      <span class="pull-right" (click)='removeMember(member)'>
        <i class="fa fa-close"></i></span>
    </td>
  </tr>
</table>

<!-- ====== edit group modal ==== -->
<div class="modal fade" bsModal #groupModal="bs-modal" 
     [config]="{backdrop: 'static', show: true}"
     tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title pull-left">Edit Group [{{group.name}}]</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="groupModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <account-group-form (cancel)="groupModal.hide()" (save)="updateGroup($event)"
          [group] = "group"></account-group-form>
      </div>
    </div>
  </div>
</div>


<!-- ====== add member modal ====== -->
<div class="modal fade" bsModal #userModal="bs-modal" 
     [config]="{backdrop: 'static', show: true}"
     tabindex="-1" role="dialog"
     (onShow)="addMemberShown()" 
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title pull-left">Add User to [{{group.name}}]</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="userModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- select how to add a user -->
        <span class="lead">I want to:</span> 
        <ng-select [(ngModel)]="userType"
        class="selection-options"
              [options]="userOptions"
              placeholder = "select one">
        </ng-select>
        <hr/>

        <div [ngSwitch]='userType'>
          <!-- Option 1: select an existing user -->
          <div *ngSwitchCase="'select'">
            <ng-select [(ngModel)]="selectedUser"
              [options]="selectEntries$ | async"
              placeholder = "select a user"
              notFoundMsg = "no users found">
            </ng-select>
            <!-- Save and Cancel buttons -->
            <div class="clearfix">
              <!-- save -->
              <button class="btn btn-primary pull-left mtop" 
                      [disabled]="selectedUser==null"
                      (click)="addMember(selectedUser)">Save</button>
              <!-- cancel -->
              <button class="btn btn-default pull-right mtop"
                      (click)="userModal.hide()">
                      Cancel</button>
            </div>
          </div>
          <!-- Option 2: create a new user -->
          <div *ngSwitchCase="'create'">
            <app-user-form (save)="createMember($event)"
                          (cancel)="cancel()">
            </app-user-form>
          </div>
          <!-- Option 3: invite a new user-->
          <div *ngSwitchCase="'invite'">
            TODO
          </div>
      </div>
    </div>
  </div>