i.available{
    color: green;
    font-size: 1.5em;
}
i.offline{
    color: firebrick;
    font-size: 1.5em;
}
.lead {
  margin-bottom: 2px;
}
.status{
  font-family: monospace;
  font-size: 1.2em;
  margin-left: 10px;
}