<div class="parent">
  <div class="plot-container" [ngStyle]="{ 'z-index': plotZValue$ | async }">
    <!-- ==== NAV PLOT ==== -->
    <!-- nav loading spinner -->
    <span class="data-loading" [@fadeInOut]
      *ngIf="plotSelectors.addingNavData$ | async">
      <i class="fa fa-spinner fa-spin fa-fw"></i> loading data
    </span>
    <span class="nav-date-range">
      {{plotSelectors.navTimeRange$ | async | duration}}
    </span>
    <!-- navigation plot (25% of view) -->
    <app-nav-plot class="nav-plot"></app-nav-plot>
    <!-- ===== MAIN PLOT ==== -->
    <!-- plot loading spinner -->
    <span class="data-loading" [@fadeInOut]
      *ngIf="plotSelectors.addingPlotData$ | async">
      <i class="fa fa-spinner fa-spin fa-fw"></i> loading data
    </span>
    <!-- warning if some plot data has errors -->
    <span class="data-errors" [@fadeInOut]
      *ngIf="!(plotSelectors.isPlotDataValid$ | async)&&!(plotSelectors.addingPlotData$ | async)">
      <i class="fa fa-exclamation-circle"></i> some data could not be retrieved
    </span>
    <!-- warning if interval data is displayed -->
    <span class="interval-warning" [@fadeInOut]
      *ngIf="plotSelectors.isIntervalDataDisplayed$ | async">
      <i class="fa fa-exclamation-triangle"></i> some data cannot be displayed at this resolution
    </span>
    
    <!-- main plot (70% of view) -->
    <app-main-plot class="main-plot" #plot></app-main-plot>

    <!-- date bar (5% of view) -->
    <button class="date-bar" (click)="plotService.showDateSelector()" 
      [disabled]="plotSelectors.liveUpdate$ | async">
      {{plotSelectors.plotTimeRange$ | async | duration}}
    </button>
    <!-- clear zero button -->
    <div class="clear-zero pull-left" [@fadeInOut]
      (click)="measurementService.clearZero()"
      *ngIf="measurementSelectors.zeroSet$ | async">
      Clear Zero
      <i class="fa fa-close" ></i>
    </div>
    <!-- live update notification -->
    <div class="live-update pull-right" [@fadeInOut]
      *ngIf="plotSelectors.liveUpdate$ | async">
      <i class="fa fa-heartbeat"></i> Live Update
      <i class="fa fa-close" (click)="plotService.disableLiveUpdate()"></i>
    </div>
  </div>
  <!--modal overlay to pick date -->
  <app-date-picker class="plot overlay" 
  *ngIf="plotSelectors.showDateSelector$ | async"
  [timeRange]="plotSelectors.plotTimeRange$ | async"></app-date-picker>

  <!-- modal overlay if no plot -->
  <div class="plot overlay" [@fadeOut]
    *ngIf="!(plotSelectors.showPlot$ |async)" >
    <div class="message">
      <span *ngIf="plotSelectors.addingPlotData$ | async; then loading else default"></span>
    </div>
    <ng-template #loading>
      <i class="fa fa-spinner fa-spin fa-5x"></i>
      <p>Loading Data...</p>
    </ng-template>
    <ng-template #default>
      <i class="fa fa-line-chart fa-5x"></i>
      <br/>
      <button class="btn btn-secondary btn-lg"
        (click)="showLoadDataView()">
        Open Saved View </button>
    </ng-template>
  </div>
</div>