<!-- search and filter bar -->
<div class="row search-bar">
  <div class="col-sm-8">
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
      <input type="text"  class="form-control" 
        placeholder="search by name or description" 
        aria-describedby="basic-addon1"
        [ngModel]="plotSelectors.dataViewFilterText$ | async"
         (ngModelChange)="setDataViewFilterText($event)">
    </div>
  </div>
  <div class="col-sm-4">
    <div class="checkbox">
      <label>
        <input type="checkbox" 
          (change)="setShowPublicDataViews($event.target.checked)"
          [checked]="plotSelectors.showPublicDataViews$ | async" > include public views?
      </label>
    </div>
  </div>
</div>
<!-- data view thumbnails -->
<div *ngIf="plotSelectors.dataViewsLoaded$ | async; else loading">
  <div class="data-view-list" *ngIf="hasViews$ | async; else empty">
    <!-- list of thumbnails that match search criteria -->
    <div *ngFor="let view of plotSelectors.filteredDataViews$ | async">
      <app-plot-thumbnail class="thumbnail" 
        [view]="view" (click)="loadDataView(view)">
      </app-plot-thumbnail>
    </div>
    <!-- show message if no views match the search criteria -->
    <div class="alert alert-info" *ngIf="(hasFilteredViews$ | async)==false">
      No views match your search criteria
    </div>
  </div>

  <!-- show a message if there aren't saved data views -->
  <ng-template #empty class="alert alert-info">
    <div class="alert alert-info">
      No saved views
    </div>
  </ng-template>
</div>
<!--show spinner if we are waiting on dataviews -->
<ng-template #loading>
  <div class="loading-container">
    <div class="loading">
      <i class="fa fa-spinner fa-spin fa-4x"></i>
      <p class="lead"> Loading... </p>
    </div>
  </div>
</ng-template>