div.data-view-list {
   max-height: 75vh;
   height: 75vh;
   overflow-y: auto;
}
.thumbnail:hover{
  border-color: #adadad;
  cursor: pointer;
  background: grey;
  background-color: #e6e6e6;
}
.thumbnail{
  border-style: solid;
  border-color: #ccc;
  background-color: white;
}
