div.data-view-list {
   max-height: 70vh;
   height: 70vh;
   overflow-y: auto;
}
.card:hover{
  border-color: #adadad;
  cursor: pointer;
  background: grey;
  background-color: #dee6f1;
}
.card{
  border-style: solid;
  border-color: #ccc;
  background-color: white;
}
div.search-bar{
    margin-top: -15px;
    background: #ddd;
    padding-top: 4px;
    margin-bottom: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
    border-right-color: #525252;
    border-left-color: #525252;

}

div.loading-container{
  position: relative;
  height: 130px;
}

div.loading{
  color: gray;
  position: absolute;
  top: 40px;
  transform: translateX(-50%);
  left: 50%;
  text-align: center;
}