<div *ngIf="!(plotSelectors.nilmsLoaded$ | async)" class="nilms-loading">
<fa-icon [icon]="['fas', 'spinner']" [spin]="true" size="5x"></fa-icon>
<p class="lead">loading...</p>
</div>
<tree-root 
  *ngIf="plotSelectors.nilmsLoaded$ | async"
  [nodes]="dbNodes$ | async" 
  (toggleExpanded)="toggleNode($event)">

  <ng-template #treeNodeTemplate let-node="node">
    <span [ngSwitch]="node.data.type">
      <!-- nilm element -->
      <span *ngSwitchCase="'nilm'" class="nilm-entry">
        {{ node.data.name }}
        <fa-icon [icon]="['fas', 'sync-alt']" class="icon-button refresh" *ngIf="!node.data.refreshing"
        tooltip="refresh" placement="right" [delay]="500" 
        (click)="nilmService.refreshNilm(node.data.nilmId)"></fa-icon>
        <fa-icon [icon]="['fas', 'sync-alt']" [spin]="true" *ngIf="node.data.refreshing"></fa-icon>
      </span>
      <!-- jouleModule -->
      <span *ngSwitchCase="'dataApp'" class="visualizer-node" 
        (click)="interfacesService.add(+node.data.id.substring(1))">
        <fa-icon [icon]="['fas', 'cubes']"></fa-icon>
          {{ node.data.name }}
        </span>
      <!-- dbFolder -->
      <span *ngSwitchCase="'dbFolder'">
        <fa-icon [icon]="['fas', 'folder-open']" *ngIf="node.isExpanded" class="folder"></fa-icon>
        <fa-icon [icon]="['fas', 'folder']" *ngIf="!node.isExpanded" class="folder"></fa-icon>
        {{ node.data.name }}
      </span>
      <!-- dbStream -->
      <span *ngSwitchCase="'dbStream'">
        <fa-icon [icon]="['fas', 'database']"></fa-icon>
        {{ node.data.name }}
      </span>
      <!-- dbElement -->
      <span *ngSwitchCase="'dbElement'">
        <!--plot element button-->
        <span class="tree-button plot" 
          *ngIf="node.data.plotted==false && node.data.plottable"
          (click)="plotService.plotElement(node.data.element)">
          <fa-icon [icon]="['fas', 'chart-line']"></fa-icon> add </span>
        <!--hide plotted element button -->
        <span class="tree-button unplot" 
          *ngIf="node.data.plotted==true"
          (click)="plotService.hideElement(node.data.element)">
          <fa-icon [icon]="['fas', 'chart-line']"></fa-icon> hide </span>
        <!-- element cannot be plotted -->
        <a class="tree-button noplot"
          *ngIf="node.data.plottable==false"
          [tooltip]="node.data.tooltip" [delay]="500">
          <fa-icon [icon]="['fas', 'chart-line']"></fa-icon> add </a>
        <!-- element name -->
        {{ node.data.name }}
        <!-- plotting color -->
        <span class="element-color" *ngIf="node.data.plotted==true" [style.background]="node.data.color">
        </span>
      </span>
    </span>
    
  </ng-template>
  <ng-template #loadingTemplate><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon> loading</ng-template>
</tree-root>
