<div *ngIf="!(plotSelectors.nilmsLoaded$ | async)" class="nilms-loading">
<i class="fa fa-spinner fa-spin fa-5x"></i>
<p class="lead">loading...</p>
</div>
<tree-root 
  *ngIf="plotSelectors.nilmsLoaded$ | async"
  [nodes]="dbNodes$ | async" 
  (toggleExpanded)="toggleNode($event)">

  <ng-template #treeNodeTemplate let-node="node">
    <span [ngSwitch]="node.data.type">
      <span *ngSwitchCase="'nilm'">
        {{ node.data.name }}
        <i *ngIf="node.data.priveleged"
          class="fa fa-gear icon-button"
          [routerLink]="['/installations',node.data.nilmId]"
          tooltip="installation settings"></i>
      </span>
      <span *ngSwitchCase="'dbFolder'">
        <i *ngIf="node.isExpanded" class="fa fa-folder-open folder"></i>
        <i *ngIf="!node.isExpanded" class="fa fa-folder folder"></i>
        {{ node.data.name }}
      </span>
      <span *ngSwitchCase="'dbStream'">
        <i class="fa fa-database"></i>
        {{ node.data.name }}
      </span>
      <span *ngSwitchCase="'dbElement'">
        <!--plot element button-->
        <span class="tree-button plot" 
          *ngIf="node.data.plotted==false && node.data.plottable"
          (click)="plotService.plotElement(node.data.element)">
          <i class="fa fa-line-chart"></i> add </span>
        <!--hide plotted element button -->
        <span class="tree-button unplot" 
          *ngIf="node.data.plotted==true"
          (click)="plotService.hideElement(node.data.element)">
          <i class="fa fa-line-chart"></i> hide </span>
        <!-- element cannot be plotted -->
        <a class="tree-button noplot"
          *ngIf="node.data.plottable==false"
          [tooltip]="node.data.tooltip">
          <i class="fa fa-line-chart"></i> add </a>
        <!-- element name -->
        {{ node.data.name }}
        <!-- plotting color -->
        <span class="element-color" *ngIf="node.data.plotted==true" [style.background]="node.data.color">
        </span>
      </span>
    </span>
    
  </ng-template>
  <ng-template #loadingTemplate><i class="fa fa-spin fa-spinner"></i> loading</ng-template>
</tree-root>
