
div.nilms-loading{
  color: gray;
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
}

.folder{
  color: tan;
}
.tree-button{
  cursor: pointer;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding-left: 3px;
}


.tree-button.plot{
  padding-right: 5px;
  margin-right: 4px;
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #3c763d;
}
.tree-button.plot:hover{
  background-color: #449d44;
  border-color: #398439;
  color: white;
  cursor: pointer;
}

.tree-button.unplot{
  padding-right: 2px;
  margin-right: 4px;
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}
.tree-button.unplot:hover{
  color: white;
  background-color: #d9534f;
  border-color: #d43f3a;
  cursor: pointer;
}

.tree-button.noplot{
  padding-right: 5px;
  margin-right: 4px;
  color: #8fbd90;
  background-color: #dff0d8;
  border-color: #8fbd90;
  text-decoration: none;
}
.tree-button.noplot:hover{
  color: #8fbd90;
}

.icon-button{
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .2;
}
.icon-button:hover{
  cursor: pointer;
  opacity: 0.5;
}
.element-color{
  height: 20px;
  width: 20px;
  border-color: black;
  border-radius: 2px;
  float: right;
  margin-left: 5px;
  border-style: solid;
  border-width: 2px;
}
.visualizer-node{
  cursor: pointer !important;
  padding: 4px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}
.visualizer-node:hover{
  background: #e6e4e4;
  border-color: gray;
}

:host>>>.tree-node{
  cursor: default;
}
:host>>>.toggle-children-wrapper{
  cursor: pointer;
}
:host>>>.node-content-wrapper:hover{
  background: inherit !important;
  border-style: none;
}
:host>>>.node-content-wrapper{
  background: inherit !important;
  border-style: none !important;
  box-shadow: unset !important;
}
.visualizer-node > .new-tab{
  visibility: hidden;
}
.visualizer-node:hover > .new-tab{
  visibility: visible;
}
.nilm-entry > .refresh{
  visibility: hidden;
}
.nilm-entry:hover > .refresh{
  visibility: visible;
}
/* Tree styling 
:host>>>.node-content-wrapper {
  display: block;
}
:host>>>.node-content-wrapper, .tree-children {
  position: relative;
}
:host>>>.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}
:host>>>.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}
:host>>>.tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
  width: 25px;
}
:host>>>.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}
:host>>>treenode:last-child>.tree-node>.tree-children::after {
  border-left: none;
}
:host>>>.toggle-children {
  z-index: 1;
}
*/
