img.thumbnail {
  height: 100px;
  width: 200px;
}

i{
  color: grey;
  margin: 5px;
}


i.fa-close:hover{
  color: firebrick;
  cursor: pointer;
}

i.fa-edit:hover{
  cursor: pointer;
  color: #5d81a0;
}