img.thumbnail {
  height: 100px;
  width: 200px;
}

.icon{
  color: grey;
  margin: 5px;
}


.icon.delete:hover{
  color: firebrick;
  cursor: pointer;
}

.icon.edit:hover{
  cursor: pointer;
  color: #5d81a0;
}