.settings-panel{
  background: #e6e6e6;
  padding: 5px;
  border-top-style: solid;
  border-top-width: 1px;
}
.form-horizontal{
  margin-left: 0px;
  margin-right: 0px;
}
.form-group{
  margin-bottom: 0px;
}