
/* Make all content fit on the page */
@media (min-width: 768px) {
  .app-content{
    max-height: calc(100vh - 200px);
    height: calc(100vh - 200px);
    overflow-y: auto;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px){
  .app-content{
    margin-bottom: 10px;
  }
}
.app-content {
  border: 1px;
  border-style: solid;
  border-color: #dee2e6;
  border-top-width: 0px;
}

.folder{
  color: tan;
}