
/* Make all content fit on the page */
@media (min-width: 768px) {
  .app-content{
    max-height: calc(100vh - 200px);
    height: calc(100vh - 200px);
    overflow-y: hidden;
    margin-bottom: 0px;
  }
  .app-content.scrollable{
    overflow-y: auto;
  }
}
@media(max-width: 767px){
  .app-content{
    margin-bottom: 10px;
  }
}
.app-content {
  border: 1px;
  border-style: solid;
  border-color: #dee2e6;
  border-top-width: 0px;
}
.node-tree{
  max-height: calc(100vh - 233.5px);
    height: calc(100vh - 233.5px);
    overflow-y: auto;
    margin-bottom: 0px;
}
button.refresh{
  border-radius: 0px;
}

.folder{
  color: tan;
}
.icon-button{
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: .2;
}
.icon-button:hover{
cursor: pointer;
opacity: 0.5;
}

div.default-overlay{
  margin-top: calc((75vh - 260px)/2);
  text-align: center;
  font-size: 2em;
  font-weight: 300;
  color: #999;
}
h1.default-overlay-header{
  font-weight: 300;
}