hr.compact {
  margin-top: 0px;
  margin-bottom: 10px;
}
div.compact{
  margin-bottom: 0px;
  margin-top: 15px;
}

div.xcompact{
  margin-bottom: 0px;
  margin-top: 0px;
}
.btn{
  margin-top: 10px;
}
.selection-options{
  width: 100%;
  margin: 0px;
  font-weight: 300;
  line-height: 1.4;
}