
<span class="lead">Administrators</span><hr class="compact"/>
<app-permission  *ngFor="let permission of admins" 
  [permission]='permission'
  (remove)='removePermission(permission)'></app-permission>
<div class="lead compact">Owners</div><hr class="compact"/>
<app-permission *ngFor="let permission of owners" 
  [permission]='permission'
  (remove)='removePermission(permission)'></app-permission>
<div class="lead compact">Viewers</div><hr class="compact"/>
<app-permission *ngFor="let permission of viewers"
  [permission]='permission'
  (remove)='removePermission(permission)'></app-permission>

<button class="btn btn-default" (click)='permissionModal.show()'>
<i class="fa fa-user-plus"></i> Add Permission</button>



<div class="modal fade" bsModal #permissionModal="bs-modal" [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog" (onShow)="addPermissionShown()"
     (onHide)="resetModal()" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Add Permission</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="permissionModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        

        <!-- select how to add a user -->
        <div>
          <span class="lead">I want to:</span> 
          <ng-select [(ngModel)]="userType"
          class="selection-options"
                [options]="userOptions"
                placeholder = "select one">
          </ng-select>
        </div>
        <div>
          <span class="lead">to be:</span> 
          <ng-select [(ngModel)]="role"
          class="selection-options"
                [options]="roleOptions"
                placeholder = "select one">
          </ng-select>
        </div>
        <hr/>


        <!-- ================================= -->
        <div [ngSwitch]='userType'>
          <!-- Option 1: select an existing user -->
          <div *ngSwitchCase="'select'">
            <ng-select [(ngModel)]="target"
              [options]="selectEntries$ | async"
              placeholder = "select a user or group"
              notFoundMsg = "no users or groups found">
            </ng-select>
            <!-- Save and Cancel buttons -->
            <div class="clearfix">
              <!-- save -->
              <button class="btn btn-primary pull-left mtop" 
                      [disabled]="target==null"
                      (click)="createPermission(target)">Save</button>
              <!-- cancel -->
              <button class="btn btn-default pull-right mtop"
                      (click)="cancel()">
                      Cancel</button>
            </div>
          </div>
          <!-- Option 2: create a new user -->
          <div *ngSwitchCase="'create'">
            <app-user-form (save)="createUserWithPermission($event)"
                          (cancel)="cancel()">
            </app-user-form>
          </div>
          <!-- Option 3: invite a new user-->
          <div *ngSwitchCase="'invite'">
            <form [formGroup]="emailForm">
              <div class="form-group"
                [class.has-error]="!emailForm.get('email').valid && !emailForm.get('email').pristine">
                <label>Email address</label>
                <input type="email" class="form-control" placeholder="Email"
                  [formControl]="emailForm.get('email')">
              </div>
            </form>
            <!-- Save and Cancel buttons -->
            <div class="clearfix">
              <!-- save -->
              <button class="btn btn-primary pull-left mtop" 
                      [disabled]="!emailForm.valid"
                      (click)="inviteUserWithPermission(email)">Invite</button>
              <!-- cancel -->
              <button class="btn btn-default pull-right mtop"
                      (click)="cancel()">
                      Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>