<div class="plotted-element">
  <i class="fa fa-gear fa-lg icon-button"
    (click)="showModal()"></i>
  <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-1x fa-lg"></i>
       <i class="fa fa-square fa-stack-1x" [style.color]="element.color"></i>
      </span> {{displayName}}
  <i class="fa fa-close pull-right icon-button"
    (click)="hideElement()"></i>
</div>


<!-- ====== edit plot settings ====== -->
<div class="modal fade" bsModal #elementModal="bs-modal" 
     [config]="{backdrop: 'static'}"
     tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title pull-left">Plot Settings for <strong>{{element.name}}</strong></h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="elementModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
     
          <!-- customize plot display name -->
          <div class="form-group">
              <label class="form-label" for="element-name">Display Name</label>
              <input type="text" id="element-name" class="form-control" placeholder="{{element.name}}"
                [(ngModel)]="newName">
          </div>
          <!-- select plot color -->
          <div class="form-group">
              <label class="form-label" for="element-color">Color</label>
              <input type="text" id="element-color" class="form-control" #colorPicker value="{{element.color}}">
          </div>
          <!-- set plot axis -->
          <div class="form-group" [ngClass]="{'has-error': axisMessage!=''}">
            <label class="control-label" for="element-axis">Axis</label>
            <ng-select [(ngModel)]="newAxis"
                class="selection-options"
                [options]="axisOptions"
                placeholder = "select one">
            </ng-select>
            <span class="help-block">{{axisMessage}}</span>
          </div>      
          <!-- Save and Cancel buttons -->
          <div class="clearfix">
            <!-- save -->
            <button class="btn btn-primary pull-left" 
                    (click)="onSave()">Save</button>
            <!-- cancel -->
            <button class="btn btn-default pull-right"
                    (click)="elementModal.hide()">
                    Cancel</button>
          </div>
      </div>
    </div>
  </div>
</div>

