<div class="row">
  <h1 class="page-title">[Test Nilm] Administration</h1>
  <!-- db info -->
  <div class="row ">
    <div class="col-sm-6">

      <dl class="dl-horizontal">
        <dt>Version</dt>
        <dd>--</dd>
        <dt>URL</dt>
        <dd>--</dd>
        <dt></dt>
        <dd>
          <button type=button class="btn btn-default refresh">
            <i class="fa fa-refresh"
                aria-hidden="true"></i> Refresh
              </button>
        </dd>
      </dl>

    </div>
    <div class="col-sm-5">
      <span class="lead">Disk Usage</span><br/> NilmDB: <span class="text-warning">0 GiB</span> | Other:
      <span class="text-info">0 GiB</span>
      <progressbar value="55" type="success"></progressbar>
      <span class="lead">Plot Resolution: 0 pts</span>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">
          <i class="fa fa-plus" aria-hidden="true"></i></button>
        <button type="button" class="btn btn-default">
        <i class="fa fa-minus" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
  <hr/>
  <!-- db tree -->
  <div class="col-sm-3 dbtree">
    <Tree [nodes]="nodes$ | async">
      <template #treeNodeTemplate let-node="node">
      <span class="{{node.data.type}}">
            {{ node.data.name }}
          </span>
      </template>
    </Tree>
  </div>
  <!-- folder/stream edits -->
  <app-edit-stream></app-edit-stream>

</div>
