<div class="row" class="page-body">
  
  <!-- db tree -->

  <div class="col-sm-3 panel">
    <Tree [nodes]="dbAdminSelectors.dbNodes$ | async" 
      [options]="treeOptions" 
      (onActivate)="selectNode($event)">
      <template #treeNodeTemplate let-node="node">
        <span [ngSwitch]="node.data.type">
          <span *ngSwitchCase="'root'">
            <i class="fa fa-database"></i>
          </span>
          <span *ngSwitchCase="'dbFolder'">
            <i *ngIf="node.isExpanded" class="fa fa-folder-open folder"></i>
            <i *ngIf="!node.isExpanded" class="fa fa-folder folder"></i>
          </span>
          <span *ngSwitchCase="'dbStream'">
            <i class="fa fa-file-text-o"></i>
          </span>
        </span>
        {{ node.data.name }}
      </template>
    </Tree>
  </div>
  <!-- folder/stream edits -->
  <div [ngSwitch]='dbAdminSelectors.selectedType$ | async' class='panel'>
    <app-edit-db *ngSwitchCase="'root'"
      [messages] = "dbAdminSelectors.dbMessages$ | async"
      [db] = "dbAdminSelectors.selectedDb$ | async"
      [rootFolder] = "dbAdminSelectors.selectedDbRootFolder$ | async"></app-edit-db>
    <app-edit-stream *ngSwitchCase="'dbStream'" 
      [messages] = "dbAdminSelectors.dbStreamMessages$ | async"
      [dbStream]="dbAdminSelectors.selectedDbStream$ | async" 
      [dbElements]="dbAdminSelectors.selectedDbStreamElements$ | async"></app-edit-stream>
    <app-edit-folder *ngSwitchCase="'dbFolder'" 
      [messages] = "dbAdminSelectors.dbFolderMessages$ | async"
      [dbFolder]="dbAdminSelectors.selectedDbFolder$ | async "></app-edit-folder>
  </div>

</div>