.page-title {
  text-align: center;
}

:host>>>.node-content-wrapper {
  display: block;
}

:host>>>.node-content-wrapper, .tree-children {
  position: relative;
}

:host>>>.node-content-wrapper::before, .tree-children::after {
  content: "";
  position: absolute;
}

:host>>>.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

:host>>>.tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
  width: 25px;
}

:host>>>.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

:host>>>treenode:last-child>.tree-node>.tree-children::after {
  border-left: none;
}

:host>>>.toggle-children {
  z-index: 1;
}

.page-body{
  max-height: 90vh;
  /*height: 90vh;*/
}
.panel {
  max-height: 70vh;
  height: 70vh;
  overflow-y: auto;
  border: 1px;
  border-style: solid;
  border-color: #bbb;
  border-radius: 2px;
  margin-left: 15px;
}

.dbFolder {
  background-image: url(/assets/images/folder.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 20px;
  margin-left: -4px;
}

.dbStream {
  background-image: url(/assets/images/stream.png);
  background-repeat: no-repeat;
  background-color: transparent;
  padding-left: 20px;
  margin-left: -4px;
}
