<p class="page-title-bar">Data Explorer</p>
<div class="row">
  <div class="col-md-3 col-sm-4">
    <tabset>
      <tab heading='Files'>
        <div id="file-tree">
          <app-file-tree></app-file-tree>
        </div>
      </tab>
      <tab heading='Plot' [disabled]="explorerSelectors.isPlotEmpty$ | async">
        <app-plot-tab 
          [leftElements]="explorerSelectors.leftElements$ | async" 
          [rightElements]="explorerSelectors.rightElements$ | async">
        </app-plot-tab>
      </tab>
      <tab heading='Tools' [disabled]="explorerSelectors.isPlotEmpty$ | async">
        <app-tool-tab (savePlotImage)="plot.saveImage()"></app-tool-tab>
      </tab>
    </tabset>
  </div>
  <div class="col-md-9 col-sm-8">
    <div class="parent">
      
      <!-- navigation plot (25% of view) -->
      <div class="plot-container" 
        [ngStyle]="{ 'z-index': plotZValue$ | async }">
        <!-- loading spinner -->
        <span class="data-loading" [@fadeInOut]
          *ngIf="explorerSelectors.addingNavData$ | async">
          <i class="fa fa-spinner fa-spin fa-fw"></i> loading data
        </span>
        <app-nav-plot class="nav-plot"></app-nav-plot>
        <!-- loading spinner -->
        <span class="data-loading" [@fadeInOut]
          *ngIf="explorerSelectors.addingPlotData$ | async">
          <i class="fa fa-spinner fa-spin fa-fw"></i> loading data
        </span>
        <!-- main plot (75% of view) -->
        <app-main-plot class="main-plot" 
          (savedImage)="displayPlotImage($event)" #plot></app-main-plot>
        <div class="date-bar" (click)="explorerService.showDateSelector()">
          {{explorerSelectors.plotTimeRange$ | async | duration}}
        </div>
      </div>
      <!--modal overlay to pick date -->
      <app-date-picker class="plot overlay" 
        *ngIf="explorerSelectors.showDateSelector$ | async"
        [timeRange]="explorerSelectors.plotTimeRange$ | async"></app-date-picker>

      <!-- modal overlay if no plot -->
      <div class="plot overlay" [@fadeOut]
        *ngIf="!(explorerSelectors.showPlot$ |async)" >
        <div class="message">
          <span *ngIf="explorerSelectors.addingPlotData$ | async; then loading else default"></span>
        </div>
        <ng-template #loading>
           <i class="fa fa-spinner fa-spin fa-5x"></i>
          <p>Loading Data...</p>
        </ng-template>
        <ng-template #default>
          <i class="fa fa-line-chart fa-5x"></i>
          <p>Select Data to Plot</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>


<!-- ====== save plot image modal ====== -->
<div class="modal fade" bsModal #imageModal="bs-modal" 
  [config]="{backdrop: 'static'}" 
  tabindex="-1" role="dialog" 
  aria-labelledby="downloadImageModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- modal title bar -->
        <h4 class="modal-title pull-left">Right click on image to save</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="imageModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="plot-image" src="{{this.imageData}}" />
        <span class="text-muted"> 
          Note: zoom out on the browser to increase image resolution
        </span>
      </div>
    </div>
  </div>
</div>