.page-title-bar{
    font-weight: 400;
    font-size: 1.5em;
    color: #ddd;
    margin-bottom: 3px;
    padding: 2px;
    padding-left: 25px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #265986;
    background: #5d81a0;
}

.tab-pane{
  max-height: calc(100vh - 171px);
  height: calc(100vh - 171px);
  overflow-y: auto;
  overflow-x: scroll;
}
.tab-pane{
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-top-style: none;
}

div.parent{
  position: relative;
  top: 0;
  left: 0;
}
div.plot-container{
  height: calc(100vh - 125px);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /*z-index: -1;*/
}

div.date-bar{
  height: 5%;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: 200;
}
div.date-bar:hover{
    background: #ccc;
    border-radius: 8px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}

div.overlay{
  height: calc(100vh - 125px);
  width: 100%;
  background: #fafcfe;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: #bbb;
  color: #999;
  position: absolute;
}
div.overlay > div.message {
  margin-top: calc((75vh - 260px)/2);
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}
span.data-loading{
    z-index: 9999;
    display: block;
    position: absolute;
    margin-top: 10px;
    margin-left: calc(50% - 10px);
    background: #ddd;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: #777;
}
img.plot-image{
  width: 100%;
}

@media(max-width: 767px){
  :host(.main-plot) >>> plot{
    height: 400px;
  }
  .date-picker {
    height: 400px;
  }
}