.page-title-bar{
    font-weight: 400;
    font-size: 1.5em;
    color: #ddd;
    margin-bottom: 3px;
    padding: 2px;
    padding-left: 25px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #265986;
    background: #5d81a0;
}

.tab-pane{
  max-height: calc(100vh - 171px);
  height: calc(100vh - 171px);
  overflow-y: auto;
  overflow-x: auto;
}
.tab-pane{
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-top-style: none;
}

div.parent{
  position: relative;
  top: 0;
  left: 0;
}
div.plot-container{
  height: calc(100vh - 125px);
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  /*z-index: -1;*/
}

.date-bar{
  height: 5%;
  width: 100%;
  text-align: center;
  font-size: large;
  font-weight: 200;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  background: white;
}
.date-bar:hover:enabled{
    background: #ccc;
    border-radius: 8px;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
    border-color: #999;
}

div.overlay{
  height: calc(100vh - 125px);
  width: 100%;
  background: #fafcfe;
  border-style: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: #bbb;
  color: #999;
  position: absolute;
}
div.overlay > div.message {
  margin-top: calc((75vh - 260px)/2);
  text-align: center;
  font-weight: 300;
  font-size: 2em;
}
span.nav-date-range{
    z-index: 9999;
    display: block;
    position: absolute;
    top: calc(25% - 50px);
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    background: rgba(255, 255, 255, 0.5);
    transform: translateX(-50%);
    left: 50%;
}
span.data-loading{
    z-index: 9999;
    display: block;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: #ddd;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    color: #777;
}
span.data-errors{
    z-index: 9999;
    display: block;
    position: absolute;
    margin-top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    border-radius: 4px;
    padding-left: 4px;
    padding-right: 4px;
    border-style: solid;
    border-width: 1px;
}
span.interval-warning{
    z-index: 9999;
    display: block;
    position: absolute;
    bottom: calc(5% + 30px);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    padding-left: 4px;
    padding-right: 4px;
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
    transform: translateX(-50%);
    left: 50%;
}
div.live-update{
  background: #dff0d8;
  color: #3c763d;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 1px;
  margin-left: 15px;
  border-style: solid;
  border-radius: 4px;
  padding: 5px; 
  position: absolute;
  bottom: 5%;
  right: 10px;
  transform: translateY(100%);
}
div.clear-zero{
  background: #d9e7ff;
  color: #3d79db;
  padding-left: 5px;
  padding-right: 5px;
  border-width: 1px;
  margin-left: 15px;
  border-style: solid;
  border-radius: 4px;
  padding: 5px; 
  position: absolute;
  bottom: 5%;
  left: 10px;
  transform: translateY(100%);
}
img.plot-image{
  width: 100%;
}

img.data-view-preview{
    width: 400px;
    height: 200px;
    margin-left: calc(50% - 200px);
}

i.fa-close {
  color: gray;
  margin-left: 10px;
}
i.fa-close:hover{
  cursor: pointer;
  color: black;
}

a.help-btn {
  margin-left: 20px;
}

@media(max-width: 767px){
  :host(.main-plot) >>> plot{
    height: 400px;
  }
  .date-picker {
    height: 400px;
  }
}