.page-title-bar{
    font-weight: 400;
    font-size: 1.5em;
    color: #ddd;
    margin-bottom: 3px;
    padding: 2px;
    padding-left: 25px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #265986;
    background: #5d81a0;
}
#main-plot{
  height: calc(100vh - 150px);
}
.tab-pane{
  max-height: calc(100vh - 171px);
  height: calc(100vh - 171px);
  overflow-y: auto;
  overflow-x: scroll;
}
.tab-pane{
    border-style: solid;
    border-width: 1px;
    border-color: #ddd;
    border-top-style: none;
}
