<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> Installation Details</h3>
  </div>
  <div class="panel-body">

    <dl class="dl-horizontal">
      <dt>Status</dt>
      <dd><span class="label label-success">available</span></dd>
    </dl>

    <form [formGroup]="form">
      <div class="form-group" [class.has-error]="!form.controls.name.valid">
        <label class="control-label" for="nilm-name">Name</label>
        <input class="form-control" id="nilm-name" type="text" [formControl]="form.controls.name">
      </div>
      <div class="form-group" [class.has-error]="!form.controls.url.valid">
        <label class="control-label" for="nilm-description">Description</label>
        <input class="form-control" id="nilm-description" type="text" [formControl]="form.controls.description">
      </div>
      <div class="form-group" [class.has-error]="!form.controls.url.valid">
        <label class="control-label" for="nilm-url">URL</label>
        <input class="form-control" id="nilm-url" placeholder="http://mynilm.com" type="text" [formControl]="form.controls.url">
      </div>
      <div class="form-group ">
        <div class="pull-left ">
          <button type="submit" (click) = "onSubmit(form.value)" class="btn btn-default " 
            [disabled]="!form.valid">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

  