div {
  margin: 5px;
  font-size: 16px;
  font-weight: 400;
  display: block;
  background: #eee;
    border: solid;
    border-width: 1px;
    border-color: #bbb;
    color: black;
}

.icon{
  color: black;
}
.icon.remove{
  color: grey;
}

.icon.remove:hover{
  color: firebrick;
}

.remove-permission:hover{
  cursor: pointer;
}