<div class="badge label-default clearfix">
  <span class="float-left">
  <fa-icon *ngIf="permission.target_type=='user'" [icon]="['fas', 'user']" class="icon" [fixedWidth]="True"></fa-icon>
  <fa-icon *ngIf="permission.target_type=='group'" [icon]="['fas', 'users']" class="icon" [fixedWidth]="True"></fa-icon>
    {{permission.target_name}}
  </span>
  <span *ngIf="permission.removable"
   (click) = 'removePermission()'
   class="float-right remove-permission">
   <fa-icon [icon]="['fas', 'times']" class="icon remove"></fa-icon>
  </span>
</div>