.page-title-bar{
    font-weight: 400;
    font-size: 1.5em;
    color: #ddd;
    margin-bottom: 3px;
    padding: 2px;
    padding-left: 25px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #265986;
    background: #5d81a0;
}
div.loading-container{
  position: relative;
  text-align: center;
}
div.loading{
  color: gray;
  position: absolute;
  top: 30%;
  transform: translateX(-50%);
  left: 50%;
}
a.help-btn {
  margin-left: 20px;
}

@media (min-width: 768px) {
  .full-column{
    max-height: calc(100vh - 180px);
    height: calc(100vh - 180px);
    overflow-y: auto;
  }
  .half-column{
    max-height: calc(50vh - 120px);
    height: calc(50vh - 120px);
    overflow-y: auto;
  }
}