.table{
	  background-color: #FBFBFB;
	  border-radius:5px;
	  margin-top: 10px;
}

h1{
    text-align: center;
}

i.available{
    color: green;
    vertical-align: middle;
    font-size: 2em;
    margin-left: 10px;
}

i.offline{
    color: firebrick;
    vertical-align: middle;
    font-size: 2em;
    margin-left: 10px;
}