<div *ngFor="let nilm of [(nilm$ | async)]">
<div class="page-title-bar">Installation Settings 
  <span *ngIf="nilm!=null">[{{nilm.name}}]</span>
    <!-- help button -->
  <a href="{{helpUrl}}/installation.html" target="_blank"
   class="btn btn-success btn-sm help-btn"><i class="fa fa-life-saver"></i> Help </a>
</div>
<div *ngIf="nilm==null" class="well">
  <h1><i class="fa fa-spinner fa-spin"></i> Loading</h1>
</div>
<div *ngIf="nilm!=null">
  <tabset>
    <tab heading='Database'>
      <installation-database-tab [nilm]="nilm$">
      </installation-database-tab>
    </tab>
    <tab  *ngIf="(role$ | async) =='admin'" heading='Admin'>
      <installation-admin-tab [nilm]="nilm$">
      </installation-admin-tab>
    </tab>
    
  </tabset>
</div>
