<div *ngFor="let nilm of [(nilm$ | async)]">
<div class="page-title-bar">Installation Settings 
  <span *ngIf="nilm!=null">[{{nilm.name}}]</span>
    <!-- help button -->
  <a href="{{helpUrl}}/installation.html" target="_blank"
   class="btn btn-success help-btn"><fa-icon [icon]="['fas', 'life-ring']"></fa-icon> Help </a>
</div>
<div *ngIf="nilm==null" class="well">
  <h1><fa-icon [icon]="['fas', 'spinner']" [spin]="true"></fa-icon>Loading</h1>
</div>
<div *ngIf="nilm!=null">
  <tabset>
    <tab heading='Database'>
      <installation-database-tab>
      </installation-database-tab>
    </tab>
    <tab  *ngIf="nilm.role =='admin'" heading='Admin'>
      <installation-admin-tab>
      </installation-admin-tab>
    </tab>
    
  </tabset>
</div>
