<div class="col-sm-8">
  <div class="lead">Stream Properties</div>
  <dl class="dl-horizontal">
    <dt>Time Range</dt>
    <dd>2015 Jul 07 22:00 - 2016 Jul 13 01:38 </dd>
    <dt>Total Rows</dt>
    <dd>0</dd>
    <dt>Total Time</dt>
    <dd>0</dd>
    <dt>Size on Disk</dt>
    <dd>5.94 GiB</dd>
    <dt>Database Path</dt>
    <dd>/some/path <button class="btn btn-xs btn-default">Move</button></dd>
  </dl>
  <form class="clearfix">
    <div class="form-group col-md-3">
      <label for="folder-name">Name</label>
      <input class="form-control" id="folder-name" placeholder="Name" type="text">
    </div>
    <div class="form-group col-md-9">
      <label for="folder-description">Description</label>
      <input class="form-control" id="folder-description" placeholder="Name" type="text">
    </div>

    <div class="lead">Element Properties
      <a class="btn"><i class="fa fa-plus"></i></a></div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Plottable</th>
          <th>Discrete</th>
          <th>Name</th>
          <th>Units</th>
          <th>Offset</th>
          <th>Scale Factor</th>
          <th>Default Min</th>
          <th>Default Max</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>0</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>

        </tr>
        <tr>
          <td>0</td>
          <td><input type="checkbox"></td>
          <td><input type="checkbox"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>
          <td><input type="text" class="form-control"></td>

        </tr>
      </tbody>
    </table>
    <div class="form-group">
      <div class="pull-left">
        <button type="submit" class="btn btn-default">Save</button>
      </div>
      <div class="pull-right">
        <button class="btn btn-danger">Delete</button>
        <button class="btn btn-default"><i class="fa fa-lock"></i></button>
      </div>
    </div>
  </form>

</div>
