
<form [formGroup]="form">
  <div class="form-group" [class.has-error]="!form.get('name').valid && !form.get('name').pristine">
    <label class="control-label" for="name">Name</label>
    <input class="form-control" placeholder="Group Name" 
           [formControl]="form.get('name')">
  </div>
  <div class="form-group">
    <label class="control-label" for="description">Description</label>
    <input class="form-control" type="text" [formControl]="form.get('description')">
  </div>
  <!-- Save and Cancel buttons -->
  <div class="clearfix">
    <!-- save -->
    <button class="btn btn-primary float-left popup" 
            [disabled]="form.valid==false"
            (click)="onSave()">Save</button>
    <!-- cancel -->
    <button class="btn btn-secondary float-right popup"
            (click)="onCancel()">
            Cancel</button>
  </div>
</form>