 .axis-title.lead{
  background: #c8dbea;
  padding-left: 10px;
  padding-bottom: 2px;
  margin-bottom: 0px;
}
span.units{
    font-weight: 400;
    margin-right: 10px;
}

.empty-plot{
    text-align: center;
    color: #bbb;
    margin: 10px;
}

