<div class="col-sm-12">
  <div class="lead">Folder Properties</div>
  <dl class="dl-horizontal">
    <dt>Time Range</dt>
    <dd *ngIf="folder.size_on_disk>0">
        {{folder.start_time/1e3 | date:"y MMM dd HH:mm:ss"}} &mdash;
        {{folder.end_time/1e3   | date:"y MMM dd HH:mm:ss"}}
    </dd>
    <dd *ngIf="folder.size_on_disk==0"> &mdash;</dd>
    <dt>Size on Disk</dt>
    <dd>{{folder.size_on_disk | byteSize }}</dd>
  </dl>
  
  
  <alert type="success" dismissible="true"
     *ngFor="let notice of messages.notices">
    {{notice}}
  </alert>
  <alert type="danger" *ngFor="let error of messages.errors">
    <strong>Error:</strong> {{error}}
  </alert>
  <alert type="warning" *ngFor="let warning of messages.warnings">
    <strong>Warning:</strong>{{warning}}
  </alert>

  <form [formGroup]="form"  (ngSubmit)="onSubmit(form.value)">
    <div class="form-group" [class.has-error]="!form.controls.name.valid">
      <label class="control-label" for="folder-name">Name</label>
      <input class="form-control" id="folder-name" placeholder="Name" type="text" [formControl]="form.controls.name">
    </div>
    <div class="form-group">
      <label for="folder-description">Description</label>
      <input class="form-control" id="folder-description" placeholder="Name" type="text" [formControl]="form.controls['description']">
    </div>
    <div class=" checkbox ">
      <label>
        <input id="folder-hidden " type="checkbox"
        [formControl]="form.controls['hidden']"> Hidden
      </label>
    </div>
    <div class="form-group ">
      <div class="pull-left ">
        <button type="submit " class="btn btn-default " 
          [disabled]="!form.valid">Save</button>
      </div>
      <div class="pull-right ">
        <button class="btn btn-danger ">Delete</button>
        <button class="btn btn-default "><i class="fa fa-lock "></i></button>
      </div>
    </div>
  </form>
</div>